.restaurant_signup {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url(../../images/vegetables-set-left-black-slate.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.restaurant_form {
  max-width: 1300px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #c2baba4a;
  filter: blur(1.1);
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgba(237, 129, 6, 0.689),
    0px 3px 4px 0px rgba(210, 120, 42, 0.509) 0px 1px 8px 0px rgba(0, 0, 0, 12%);
}

.right_side {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 1100px;
  justify-content: center;
  align-items: center;
}

.restaurant_container h2 {
  font-size: 40px;
  margin: 20px;
  color: #212121;
}

h2 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}

h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  height: 4px;
  width: 70px;
  border-radius: 2px;
  background-color: rgb(246, 114, 64);
}

.input_form {
  outline: none;
  border: none;
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 15px;
  font-size: 14px;
  transition: 0.5s;
}

input[type="checkbox"] {
  margin: 5px;
}
label {
  width: 110px;
  padding: 10px;
  margin-right: 50px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(246, 114, 64);
}
label:hover {
  color: #fff;
}
.input_form:hover {
  background-color: rgba(0, 0, 0, 0.477);
}

.input_form:focus {
  background-color: #fff;
  border: 2px solid rgb(246, 114, 64);
}

.button {
  transition: 0.5s;
  border: none;
  outline: none;
  padding: 12px;
  background-color: rgb(246, 114, 64);
  color: #fff;
  border-radius: 20px;
  width: 200px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  display: block;
}
.restaurant_form .button:hover {
  background-color: rgb(243, 93, 39);
}

@media (max-width: 900px) {
  .restaurant_form {
    /* grid-template-columns: 1fr; */
    width: 600px;
  }
  .input_form {
    width: 300px;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    display: block;
  }
  label {
    width: 90px;
    padding: 5px;
    margin-right: 20px;
    font-size: 18px;
  }
}
@media (max-width: 653px) {
  .restaurant_form {
    /* grid-template-columns: 1fr; */
    width: 400px;
  }
  .input_form,
  .button,
  a {
    width: 150px;
    padding: 10px 0;
    margin: 7px;
    font-size: 10px;
  }
  .input_form {
    width: 220px;
    padding: 10px;
  }
  p {
    font-size: 10px;
  }
  .restaurant_container h2 {
    font-size: 20px;
  }
  label {
    width: 60px;
    padding: 5px;
    margin-right: 10px;
    font-size: 15px;
  }
}

.sign-button {
  background-color: rgb(246, 114, 64);
  color: #fff;
  margin: 50px auto;
}

a {
  text-decoration-line: none;
}
a:hover {
  color: rgb(246, 114, 64);
}

p {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

p a {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  background-color: #eb8d1231;
  padding: 6px;
  filter: blur(1.1);
  border-radius: 10px;
  margin: 5px;
}

.error {
  color: #212121;
  padding: 3px;
  text-align: left;
  /* padding-left: 10px; */
  background-color: #f6dfc8b1;
  font-size: 14px;
  width: auto;
}

@media (max-width: 490px) {
  .right_side {
    width: 200px;
  }
  .button {
    width: 100px;
    font-size: 10px;
  }
  p {
    font-size: 10px;
  }
  p a {
    font-size: 10px;
  }
}
