.item {
  width: 150px;
  padding: 0 ; 
  margin: 0 ;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.item img {
  margin-top: -3.5rem;
  height: 130px;
  object-fit: contain;
}
.item-foot_desc {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-head_desc p {
  margin: 0;
  margin-bottom: 5px;
}

.item-foot_desc button {
  background: #000;
  color: #fff;
  border-radius: 50%;
}
.item-head_desc {
  text-align: left;
  flex: 1;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.head_desc-name {
  font-weight: 600;
  color: black;
  font-size: 0.9rem;
  text-transform: capitalize;
  flex: 1;
}
.head_desc-info {
  font-size: 0.8rem;
  color: #a0a0a0;
   flex: 2;
}
.foot_desc-price {
  font-weight: 700;
}
.btn-detais{
  background: none;
  font-size: 0.8rem;
  color: rgb(246, 114, 64);
}

.imgg {
  object-fit: cover;
  height: 300px;
}