.menu-section {
  padding: 70px;
  margin-top: 0;
  background-image: url(../images/vegetables-set-left-black-slate.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.menu-title {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.category__item {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  font-weight: bold;
}

.category__item:hover {
  transform: translateY(-15px);
  background-color: #f67240;
}

@media only screen and (max-width: 768px) {
  .category__item {
    padding: 20px 15;
    flex-wrap: wrap;
  }
  .category__img img {
    width: 30px;
    height: 30px;
  }

  .category__item h6 {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 490px) {
  .category__item {
    padding: 5px 10px;
    flex-wrap: wrap;
  }
  .category__img img {
    width: 20px;
    height: 20px;
  }

  .category__item h6 {
    font-size: 8px;
    font-weight: bold;
  }
}
